<div class="container">
  <h1>Create Post</h1>
  <form (ngSubmit)="onSubmit()" #addPostForm="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="formInput.title"
        name="title"
        >
    </div>
    <button type="submit" class="btn btn-success">Create</button>
  </form>
  <div *ngIf="addPostSuccess">
    <p>Request added successfully.</p>
  </div>
  <div *ngIf="addPostError">
    <p>Error creating request.</p>
  </div>
</div>