<div class="container">
  <h1>Find Friend</h1>
  <form (ngSubmit)="onSubmit()" #findFriendForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        [(ngModel)]="formInput.email"
        name="email"
        >
    </div>

    <button type="submit" class="btn btn-success">Find</button>
    <div *ngIf="showFriend">
      {{ friend.first_name }} {{ friend.last_name }}
    </div>
    <div *ngIf="findFriendFail">
      <p>No matching user found.</p>
    </div>
  </form>
</div>