<div class="container">
  <h1>Find Friend</h1>
  <form (ngSubmit)="onSubmit()" #findFriendForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        [(ngModel)]="formInput.email"
        name="email"
        >
    </div>

    <button type="submit" class="btn btn-success">Find</button>
  </form>
  <div *ngIf="findFriendSuccess">
    {{ friend.first_name }} {{ friend.last_name }}
    <button
      class="btn"
      (click)="addFriend()"
      *ngIf="!addFriendSuccess"
      >
      Add
    </button>
    <span *ngIf="addFriendSuccess">Friend added successfully.</span>
    <span *ngIf="addFriendError">There was a problem adding your friend.</span>
  </div>
  <div *ngIf="findFriendFail">
    <p>No matching user found.</p>
  </div>
</div>