<div class="dashboard">
  <h1>Dashboard Page</h1>

  <app-friends-list></app-friends-list>

  <h2>Requests</h2>
  <app-create-post-form (createdPost)="onPostCreation($event)"></app-create-post-form>
  <div *ngIf="isLoading">
    <p>Checking for existing requests...</p>
  </div>

  <div *ngIf="!isLoading && !error">
    <ul>
      <li *ngFor="let post of posts">
        {{ post.title }}
      </li>
    </ul>
  </div>
  <div *ngIf="error">
    <p>ERROR: There was a problem retrieving requests.</p>
  </div>
</div>